:root{
    --altoheaderyfooter: 10vh;
    --altonav: 5vh;
    --gap: 1rem;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    gap: var(--gap);
    background-color: rgb(235, 235, 235);
}
header{
    background-color: blue;
    width: 100%;
    min-height: var(--altoheaderyfooter);
    text-align: center;       
}
nav{
    background-color: yellow;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
nav a{
    text-decoration: none;
    padding: 1rem;
}
nav a:hover{
    background-color: aqua;
    text-decoration: none;
}
main{
    background-color: blueviolet;
    width: 100%;
    min-height: calc(100vh - var(--altoheaderyfooter));
    text-align: center;
}

footer{
    background-color: seagreen;
    min-height: var(--altoheaderyfooter);
    width: 100%;
    text-align: center;
}
body>div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: orange;
    padding: 1rem;
}
div>button{
    width: 15vw;
    gap: 1rem;
    justify-self:end;
}
#cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}